.App {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.863);
    height: 100vh;
    
}
.selectionApp{
    color:#2b94b4

}
.selectionDescription{
    color:#2b94b4;
    font-size: 300%;
}
.btns {
    border: none;
    color: white;
    padding: 1% 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    margin: 1% 0.5%;
    cursor: pointer;
    background-color: #2b9dc0;
    font-weight: bold;
}
.timerbtn{
    border: none;
    color: white;
    padding: 7% 14%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vw;
    margin: 1% 0.5%;
    cursor: pointer;
    background-color: #2b9dc0;
    font-weight: bold;
}
.btns {
    border-radius: 12px;
}

.btns:hover {
    background-color: #2b9dc0be;
}

.info-section {
    margin-top: 100vh;
    margin-left: 5%;
}
.info-head {
    color: black;
    text-align: left;
    font-size: 30px;
}

.what-border {
    width: 80px;
    height: 3px;
    background: #2b9dc0;
    margin-left: 2px;
}