.Timer {
    margin: auto;
}

.ProgCircle {
    margin: auto;
}

.btnContainer {
    margin-top: 30px;
}

.btns {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #2b9dc0;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bold;
}

.btns:hover {
    background-color: #2b9dc0be;
}